@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-box {
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}
.bg_construction {
  background-image: url(../src/assets/constructionbg.jpg);

}.bg_main_bg {
  background-image: url(../src/assets/mainbg.jpg);
}
.bg_main2 {
  background-image: url(../src/assets/bgconst.webp);
}
